@charset "utf-8";

main{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

main, nav, article, header, section, footer{
    border: 1px solid grey;
}

section{
    
}

header nav{
    flex-direction: row-reverse;
}
